*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}
body{
    color: hsl(201, 11%, 66%);
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
}
h1{
    color:hsl(210, 10%, 33%);
    font-size:33px;
}
h2,h3{
    color:hsl(210, 10%, 33%);
}

a{
    text-decoration: none;
}
p{
    line-height: 28px;
    margin-top:15px;
}

.content{
    margin:90px auto 25vh auto;
    text-align:center;
    width: 90%;
}

header .logo{
    background: url('../images/bg-header-mobile.png') center center;
    display:flex;
    justify-content: center;
    align-items: center;

}
header .logo img{
    margin-top: 20vh;
}

header .content h1{
    margin: 50px 0 20px;
}

header .content a.ios{
    background-color: hsl(171, 66%, 44%);
    border-radius: 40px;
    box-shadow: 0 3px 1px hsl(171, 46%, 43%);
    color: #fff;
    display: block;
    font-weight: 600;
    padding: 20px 50px;
    margin: 40px 0 25px 0;
}

header .content a.mac{
    background-color:hsl(233, 100%, 69%);
    border-radius: 40px;
    box-shadow: 0 3px 1px hsl(233, 72%, 60%);
    color: #fff;
    display: block;
    font-weight: 600;
    padding: 20px 50px;
}

.keep-track .content img{
    margin: 70px 0 50px 0;
    max-width: 335px;
}
.keep-track .content .track-items p{
    margin-bottom: 50px;
}

.remote-acess .content{
    margin-bottom:20px;
}
.remote-acess .content img{
    margin-top: 70px;
    max-width: 345px;
}

.productivity-tools .content{
    margin-bottom:20vh;
}

.productivity-tools .content .tools-items{
    margin-top:90px;
}
.productivity-tools .content p{
    margin-bottom:70px;
}
.productivity-tools .content p.last{
    margin-bottom:0px;
}

.productivity-tools .content img{
    margin-bottom:40px;
}

.partners .content{
    align-items: center;
    display:flex;
    flex-direction: column;
    margin-bottom:15vh;
}
.partners .content img{
    width: 130px;
    margin-bottom:60px;
}
/*
.download-clipboard .content{
    margin-bottom:15vh !important;
}
*/
footer li a{
    color:hsl(210, 10%, 33%);
}
.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}