*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}
body{
    color: hsl(201, 11%, 66%);
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
}
h1{
    color:hsl(210, 10%, 33%);
    font-size:33px;
}
h2,h3{
    color:hsl(210, 10%, 33%);
}

a{
    text-decoration: none;
}
p{
    line-height: 28px;
    margin-top:15px;
}

.content{
    margin:90px auto 25vh auto;
    text-align:center;
    width: 90%;
}

header .logo{
    background: url('../images/bg-header-mobile.png') no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header .logo img{
    margin: 10vh 0 9vh 0;
    width:8em;
}
header .content{
    margin-top:15px;
}
header .content h1{
    margin-bottom: 20px;
}

a.ios{
    background-color: hsl(171, 66%, 44%);
    border-radius: 40px;
    box-shadow: 0px 3px 1px hsl(171,46%,43%), 0px 12px 15px  hsl(171, 36%, 82%);
    color: #fff;
    display: block;
    font-weight: 600;
    padding: 20px 50px;
    margin: 40px 0 25px 0;
    width: 335px; 
}

a.mac{
    background-color:hsl(233, 100%, 69%);
    border-radius: 40px;
    box-shadow: 0 3px 1px hsl(233, 72%, 60%),  0px 12px 15px  hsl(240, 6%, 85%);
    color: #fff;
    display: block;
    font-weight: 600;
    padding: 20px 50px;
    width: 335px; 
}

a.ios:hover,a.ios:active{
    color: #fff;
    background-color: hsl(171, 48%, 52%);
}

a.mac:hover,a.mac:active{
    color: #fff;
    background-color:hsl(233, 67%, 68%);
}

.keep-track .content img{
    margin: 70px 0 50px 0;
    max-width: 335px;
}
.keep-track .content .track-items p{
    margin-bottom: 50px;
}

.remote-acess .content{
    margin-bottom:30px;
}
.remote-acess .content img{
    margin-top: 50px;
    max-width: 345px;
}

.productivity-tools .content{
    margin-bottom:20vh;
    margin-top:110px;
}

.productivity-tools .content .tools-items{
    margin-top:60px;
}
.productivity-tools .content  .tools-items .item{
    margin-bottom:70px;
}
.productivity-tools .content p.last{
    margin-bottom:0px;
}

.productivity-tools .content img{
    margin-bottom:40px;
}

.partners .content{
    align-items: center;
    display:flex;
    flex-direction: column;
    margin-bottom:15vh;
}
.partners .content img{
    width: 130px;
    margin-bottom:60px;
}
footer{
    background:hsl(195, 17%, 95%);
}
footer .content{
    margin-bottom:0;
    padding: 60px 0 20px 0;
}
footer .content img{
    width: 60px;
}
footer nav a:hover, footer nav a:active{
    color: hsl(171, 66%, 44%);
}

footer .content a{
    color:hsl(210, 10%, 33%);
    display: block;
    margin:25px 0;
}
footer .social-networks{
    display: flex;
}
footer .social-networks img{
    margin:20px;
    width: 25px;
}

footer .content .attribution {
    font-size: 11px; 
    text-align: center;
}
footer .content .attribution a {
    color: hsl(228, 45%, 44%);
    display: inline;
}